--
-- PostgreSQL database dump
--

\restrict oaGrTWq8Nw3VEc5TUPyc1AEg3FBcsbQhEubuNu2zzWAMY6losH27Edx52rNHfJA

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Name: alumnos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alumnos (
    id integer NOT NULL,
    login_id integer,
    nombre_completo character varying(100),
    numero_control character varying(20),
    carrera character varying(50),
    semestre integer,
    foto_perfil_url text
);


ALTER TABLE public.alumnos OWNER TO postgres;

--
-- Name: alumnos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.alumnos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alumnos_id_seq OWNER TO postgres;

--
-- Name: alumnos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.alumnos_id_seq OWNED BY public.alumnos.id;


--
-- Name: empresas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.empresas (
    "Id" integer NOT NULL,
    "NombreEmpresa" text NOT NULL,
    "RFC" character varying(12) NOT NULL,
    "PasswordHash" text NOT NULL,
    "EstaVerificado" boolean NOT NULL,
    "FechaRegistro" timestamp with time zone NOT NULL,
    "LoginId" integer
);


ALTER TABLE public.empresas OWNER TO postgres;

--
-- Name: empresas_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.empresas ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."empresas_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: login; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.login (
    id integer NOT NULL,
    correo_institucional character varying(100) NOT NULL,
    password_hash text NOT NULL,
    intentos_fallidos integer DEFAULT 0,
    ultimo_acceso timestamp without time zone,
    es_verificado boolean DEFAULT false,
    token_verificacion character varying(100),
    fecha_expiracion_token timestamp without time zone
);


ALTER TABLE public.login OWNER TO postgres;

--
-- Name: login_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.login_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.login_id_seq OWNER TO postgres;

--
-- Name: login_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.login_id_seq OWNED BY public.login.id;


--
-- Name: registros_pendientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.registros_pendientes (
    id uuid NOT NULL,
    email text NOT NULL,
    datos_json text NOT NULL,
    tipo_registro text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    s3key text
);


ALTER TABLE public.registros_pendientes OWNER TO postgres;

--
-- Name: alumnos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alumnos ALTER COLUMN id SET DEFAULT nextval('public.alumnos_id_seq'::regclass);


--
-- Name: login id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login ALTER COLUMN id SET DEFAULT nextval('public.login_id_seq'::regclass);


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20260424075150_AddFotoPerfilUrlToAlumnos	8.0.0
20260427023758_CreateEmpresasTable	8.0.0
\.


--
-- Data for Name: alumnos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alumnos (id, login_id, nombre_completo, numero_control, carrera, semestre, foto_perfil_url) FROM stdin;
3	1	Ariel - Ing. Sistemas	23321145	Sistemas Computacionales	6	https://gmt-alumnos-archivos-821122422275-us-east-1-an.s3.amazonaws.com/0a5940a41f2c479fb2da21391946feec.jpg?AWSAccessKeyId=AKIA36LVV2YB5NEJCP5K&Expires=1777319040&Signature=YVlg%2BQTNBInz0UcSTPbABvPQD38%3D
\.


--
-- Data for Name: empresas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.empresas ("Id", "NombreEmpresa", "RFC", "PasswordHash", "EstaVerificado", "FechaRegistro", "LoginId") FROM stdin;
\.


--
-- Data for Name: login; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.login (id, correo_institucional, password_hash, intentos_fallidos, ultimo_acceso, es_verificado, token_verificacion, fecha_expiracion_token) FROM stdin;
1	l23321145@acapulco.tecnm.mx	admin123	0	\N	f	\N	\N
\.


--
-- Data for Name: registros_pendientes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.registros_pendientes (id, email, datos_json, tipo_registro, expires_at, s3key) FROM stdin;
\.


--
-- Name: alumnos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alumnos_id_seq', 3, true);


--
-- Name: empresas_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."empresas_Id_seq"', 1, false);


--
-- Name: login_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.login_id_seq', 1, true);


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: empresas PK_empresas; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.empresas
    ADD CONSTRAINT "PK_empresas" PRIMARY KEY ("Id");


--
-- Name: alumnos alumnos_login_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alumnos
    ADD CONSTRAINT alumnos_login_id_key UNIQUE (login_id);


--
-- Name: alumnos alumnos_numero_control_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alumnos
    ADD CONSTRAINT alumnos_numero_control_key UNIQUE (numero_control);


--
-- Name: alumnos alumnos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alumnos
    ADD CONSTRAINT alumnos_pkey PRIMARY KEY (id);


--
-- Name: login login_correo_institucional_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login
    ADD CONSTRAINT login_correo_institucional_key UNIQUE (correo_institucional);


--
-- Name: login login_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login
    ADD CONSTRAINT login_pkey PRIMARY KEY (id);


--
-- Name: registros_pendientes registros_pendientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registros_pendientes
    ADD CONSTRAINT registros_pendientes_pkey PRIMARY KEY (id);


--
-- Name: IX_empresas_LoginId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_empresas_LoginId" ON public.empresas USING btree ("LoginId");


--
-- Name: empresas FK_empresas_login_LoginId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.empresas
    ADD CONSTRAINT "FK_empresas_login_LoginId" FOREIGN KEY ("LoginId") REFERENCES public.login(id);


--
-- Name: alumnos alumnos_login_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alumnos
    ADD CONSTRAINT alumnos_login_id_fkey FOREIGN KEY (login_id) REFERENCES public.login(id);


--
-- PostgreSQL database dump complete
--

\unrestrict oaGrTWq8Nw3VEc5TUPyc1AEg3FBcsbQhEubuNu2zzWAMY6losH27Edx52rNHfJA

